body{
    background-color: slateblue;
}
*{
    margin: 0px;
    padding: 0px;
}

img{
    width: 100%;
}

.box{
    width: 30%;
    background-color: snow;
    border: 2px solid #f10000;
}

.box h2{
    width: 100%;
    font-size: 22px;
    color: #aedc85;
    text-align: center;
    border: 1px dotted #000;
    text-transform: capitalize;
    background-color: slategray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.box p{
    font-size: 14px;
    font-weight: 900;
    color: #636363;
    padding: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.box a{
    width: 100%;
    color: snow;
    font-size: 18px;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: capitalize;
    background-color: palevioletred;
}