*{
    margin: 0px;
    padding: 0px;
}
section.header-part {
    background-color: blueviolet;
}
.container{
    padding: 20px;
}
.header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo img {
    width: 120px;
}
.nav {
    display: flex;
}
.nav li {
    list-style: none;
    text-transform: capitalize;
    margin-right: 15px;
    padding-right: 15px;
    color: aliceblue;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}
.nav li:hover{
    color: rgb(33, 21, 43);
}